<div class="center jumbotron">
  <h3>Welcome to the best Bed and Breakfast booking website!</h3>

  <h2>
    This is the home page for the best
    Bed and Breakfast website for Europe!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<center><%= link_to image_tag("index.jpeg", alt: "B&B"),
            'http://abdn.ac.uk/' %></center>